.currently-reading {
  padding-top: 32px;
}
.reading-progress-form {
  display: flex;
  flex-direction: column;
}

.progressContentContainer {
  padding-bottom: 10px;
}

.bookShowReviewContent {
  text-align: left;
  padding-left: 42px;
  padding-right: 42px;
}

.progressContent {
  padding-top: 0px;
  padding-bottom: 24px;
  padding-left: 16px;
  p {
    text-align: left;
    font-size: 16px;
  }
}