.review-content {
  display: grid;
  grid-template-columns: 26% 64%;
  grid-template-rows: repeat(auto-fill, 1px);
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 13px;
  .review-book {
    justify-self: left;
    grid-column: 1/2;
    grid-row: 1/5;
  }
  .review-book-information {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: left;

    h2 {
      text-align: left;
      padding-left: 10px;
      margin: 0;
    }
    p {
      text-align: left;
      padding-left: 12px;  
    }
  }

  .review-book-content {
    padding-top: 5px;
    grid-column: 2/3;
    padding-right: 10px;
    p {
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.userComment {
  display: grid;
  padding-left: 40px;
  padding-bottom: 2px;
  grid-template-rows: 30% 50% 20%;

  .commentHeader {
    justify-self: left;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    .avatar {
      padding-top: 10px;
      display: inline-block;
    }
    .commentHeaderMeta {
      padding-left: 21px;
      padding-top: 10px;
      display: inline-block;
      span {
        text-align: left;
      }
      .author {
        padding-left: 10px;
      }
    }
  }
  .commentContent {
    justify-self: left;
    padding-top: 19px;
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .commentLikes {
    display: flex;
    align-items: left;
    padding-top: 10px;
    .likesCount {
      padding-left: 6px;
      padding-top: 6px;
    }
    button {
      width: 78px;
      height: 34px;
    }
    p {
      padding-left: 100px;
    }
  }
}

.progressBarPanel {
  display: flex;
  .progressTime {
    display: inline-block;
    padding-left: 15px;
    padding-top: 3px;
  }
  .progress {
    display: inline-block;
    width: 80%;
    margin: 0;
  }
}