.userShelfPage {
  display: grid;
  grid-template-rows: 10% 90%;
  .shelfHeader {
    grid-row: 1/2;
    justify-self: center;
    padding-top: 39px;
    padding-bottom: 30px;
    align-self: center;
  }
  .shelfBooks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .bookOnShelf {
    padding-bottom: 35px;
    display: grid;
    grid-template-rows: 80% 20%;
    justify-items: center;
    a {
      justify-content: end;
      align-self: end;
    }
  }  
} 

