.userShelfPage {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  .shelfHeader {
    grid-row: 1/2;
    justify-self: center;
    padding-top: 39px;
    padding-bottom: 30px;
    align-self: center;
  }
  .editShelf {
    justify-self: start; 
    padding-top: 20px;

  }
  .shelfBooks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .bookOnShelf {
    display: grid;
    grid-template-rows: 80% 50px;
    justify-items: start;
    a {
      justify-content: end;
      align-self: end;
      padding-bottom: 10px;
    }
    .bookOnShelfImage {
      grid-row: 1/2;
    }
    .deleteBookButton {
      grid-row: 2/3;
      button {
        width: 52px;
        height: 36px;
      }
    }
  }
}