.searchBar {
  display: flex;
  flex-direction: row;
}

.searchForm {
  padding-bottom: 18px;
}

.addToShelfForm {
  display: flex;
  flex-direction: row;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}