body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchBar {
  display: inline;
}

.searchButton {
  width: 38%;
}

.text-hoverable span:hover {
  color: #3366FF;
  cursor: pointer;
}

.image-hoverable:hover {
  box-shadow: 0 0 4px #3366FF;
  text-shadow: 0 0 4px #3366FF;
  cursor: pointer;
}